global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server backend1 172.31.82.166:9000 check
    server backend2 172.31.82.166:9001 check
    server backend3 172.31.82.166:9002 check