global
    daemon # background

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80 # escuta em todas as interfaces na porta 80
    default_backend servers # encaminha todo tráfego para o grupo 'servers'

backend servers
    balance roundrobin # distribui requisições de forma alternada
    server backend1 172.31.82.166:9000 check
    server backend2 172.31.82.166:9001 check
    server backend3 172.31.82.166:9002 check

    # se um backend falha 3 vezes, é removido do balanceamento por 30 segundos